# Main.java belongs to hslualexanderb
/src/calculator/Main.java @DenisRadi

# Calculator.java belongs to iaenzler
/src/calculator/Calculator.java @DenisRadi

# All other files belong to everyone
* @DenisRadi @Raniatissira @Noni2402 @Enis8
